body {
	/* border: 1px solid red; */
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;	
}


.blok h3 {
	font-size: 31px;
	margin-bottom: -40px;
}
	
.blok p{
	font-size: 20px;
	white-space:normal;
	word-wrap: break-word;
}



/* ##

##### BACKGROUNDS & Sectie specifieke opmaak ###### */

.titelbackground {
	background:  url("../images/achtergrond4.JPG");
}

.beeldendbackground {
	background-color:	#9cc7df;
	border: 0px solid red;
	overflow:hidden;
}

.gedichtenbackground {
	background-color: 	#9cc7df;
	overflow:hidden;
}

.agendabackground {
	background-color: 	#96b4c5;
	border: 0px solid red;
	overflow:hidden;
}

.cvbackground {
	background-color: 	#9cc7df;
	overflow:hidden;
}

.contactbackground {
	background-color: 	#96b4c5;
	overflow:hidden;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}





/* ######## ANDERE SECTIE SPECIFIEKE DINGEN ######## */
/* contact */
.contactlink:hover{
	color: white;
}

.contactlink:visited{
	color:blue;
}

.contactlink:link {
	text-decoration: none;
	font-size: 20px;
	color: blue;
	letter-spacing:1.2px;
}

/* only used in CV */
table {
	table-layout:auto;
}
td {
	vertical-align:top;
	font-size:20px;
	padding-bottom:3px;
}


.blok h2 {
	font-size: 25px;
	margin-bottom: 0px;
	font-weight:normal;
}

.tabeltitel {
	background-color:rgba(255,255,255,.2);/* modern browser */
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF,endColorstr=#66FFFFFF);/*IE fix */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF,endColorstr=#66FFFFFF);     /* IE Fix */
	border: 0px solid red;
	margin: 0px;	
	padding-top: 0px;
}


.tabeltitel h1 {
	font-weight: normal; 
	font-size: 23px;
	letter-spacing: 2px;
	color: black;	
	word-spacing: 10px;
}


/* Agenda definition lists */

dt {
	font-size: 23px;
	letter-spacing: 1px;
	word-spacing: 5px;
}

dd {
	font-size: 20px;
	margin-top:3px;
	margin-bottom: 25px;
}

/* lists met links (gedichten)*/

.blok ul {
	list-style: none;
}

.blok ul li {
	padding-left: 0px;
	padding-bottom: 10px;
}

.blok a, a:visited{
	text-decoration: none;
	font-size: 23px;
	color: black;
	letter-spacing:1.2px;
}

.blok a:hover{
	color: white;
}






/* Jaarknoppen imgs */

.imgcontainer{
	background-color:white;
}

.imgcontainer img {
	width:100%;
	opacity: 0.6;
    filter: alpha(opacity=60);
	display:block;
	margin-bottom:5px;
}

.imgcontainer img:hover {
	opacity: 1;
    filter: alpha(opacity=100);
}

h5 {
	position: absolute;
	z-index: 20;
	left: 15%;
	pointer-events:none;
	margin: 4% 0;
	display: inline;
    font-size: 28px; /*or whatever you want*/
    color: black;	
    font-weight:normal;
    letter-spacing: 1px;  
	border: 0px solid red;	
}




/* STRUCTUUR DINGETJES */

/* gebruik hoogte hier om titel teplaatsen */
.filler2 {
	height: 75px;
}

.anchor {
	border: 0px solid red; 
	height: 0px
}

.filler {
	width: 80%;
	margin: auto;
	height: 390px;
}



/* ###### NAVIGATIEBAR MET LINKS ###### */

.nav li {
	display: inline;
}

.nav a {
	display: inline;
	list-style-type: none ;	
	font-size: 32px;
	letter-spacing: 2px;
	color: black;	
	word-spacing: 5px;
}

.nav a:link{
	text-decoration:none
}

.nav a:hover {
	color: #bdbdbd;
}

.nav {
	border: 0px solid black; 
	background-color: rgba(255,255,255,.9);
	position: relative;
	z-index: 300;
	padding-bottom: 0px;
	width: 100%;
}

.nav2 {
	width: 80%;	
	margin: 0px auto 0px auto;
	text-align: left;
	border: 0px solid black; 
}

.nav2 a{
	padding-right: 20px;
}

/* Breadcrumbs op gedichten page */

.titelcontainer {
	background-color:rgba(255,255,255,.2);/* modern browser */
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF,endColorstr=#66FFFFFF);/*IE fix */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF,endColorstr=#66FFFFFF);     /* IE Fix */
	border: 0px solid red;
	margin: 0px;	
	width:100%;
}

.breadcrumb {
	width: 100%;
	background-color:rgba(255,255,255,.3);/* modern browser */
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF,endColorstr=#66FFFFFF);/*IE fix */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF,endColorstr=#66FFFFFF);     /* IE Fix */
	border: 0px solid blue;
}

.breadcrumb ul {
	list-style: none;
	padding: 0px 0px 0px 10px;
	margin: 0;
}

.breadcrumb li {
	padding-bottom: 0px;
	display: inline;
	font-size: 20px;
	font-style:italic;
}
.breadcrumb a, a:visited{
	text-decoration: none;
	color: black;
	letter-spacing:1.2px;
}

.breadcrumb  a:hover{
	text-decoration: none;
	color: white;
	letter-spacing:1.2px;
}




.echtetitel {
	width: 80%;	
	margin: 0px auto 0px auto;
}

.echtetitel h1 {
	font-weight: normal; 
	font-size: 35px;
	letter-spacing: 2px;
	color: black;	
	word-spacing: 10px;
}

/* ###### TITEL/HOOFDSCHERM ###### */

.titelbox {
	background-color:rgba(255,255,255,.8);/* modern browser */
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF,endColorstr=#66FFFFFF);/*IE fix */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF,endColorstr=#66FFFFFF);     /* IE Fix */
}

.titel {
	position: relative;
	text-align: left;	
	width: 80%;
	margin: auto;
	height: 100%;
}

 .titel h1 {
	font-size: 140px;
	font-weight: normal;
	letter-spacing: 7px;
	display: inline;
	
}

 .titel h2 {
	font-size: 200px;
	font-weight: bold;
	letter-spacing: 15px;
	display: inline;	
}





/* ####### BLOK EIGENSCHAPPEN ###### */

.bloktitel {
	background-color:rgba(255,255,255,.2);/* modern browser */
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF,endColorstr=#66FFFFFF);/*IE fix */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF,endColorstr=#66FFFFFF);     /* IE Fix */
	border: 0px solid red;
	margin: 0px;	
	padding-top: 20px;
}

.bloktitel h1 {
	font-weight: normal; 
	font-size: 35px;
	letter-spacing: 2px;
	color: black;	
	word-spacing: 10px;
}

.blok {
	width: 80%;
	overflow: hidden;
	margin: 0px auto 0px auto; 
	/* border: 2px solid rgba(130,130,130,.9); */
	/* background-color:rgba(130,130,130,.9);  modern browser */ 
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF,endColorstr=#66FFFFFF);/*IE fix */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF,endColorstr=#66FFFFFF);     /* IE Fix */ 
	
}

.helepagina {
	width: 80%;
	height: 100vh;
	overflow: hidden;
	margin: 0px auto 0px auto; 
	/* border: 2px solid rgba(130,130,130,.9); */
	/* background-color:rgba(130,130,130,.9);  modern browser */ 
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF,endColorstr=#66FFFFFF);/*IE fix */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF,endColorstr=#66FFFFFF);     /* IE Fix */ 
	padding-bottom:20px;
	padding-top: 3px;
}

/* ####### CSS for gedichten ####### */
p.gedicht {
	line-height: 140%;
	font-size: 25px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

p.inspring {
	line-height: 140%;
	font-size: 25px;	
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	padding-left: 12em;
	margin-bottom: -25px;
}





/* ####### CSS for image gallery ####### */
#photos {
   /* Prevent vertical gaps */
   line-height: 30px;
   
   -webkit-column-count: 4;
   -webkit-column-gap:   10px;
   -moz-column-count:    4;
   -moz-column-gap:      10px;
   column-count:         4;
   column-gap:           10px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  margin: 0px;
}
#photos video {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  margin: 0px;
}


@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
  
  h5 {
	  margin: 2% 0;
  }
  
p.gedicht {
	line-height: 120%;
	font-size: 18;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

p.inspring {
	line-height: 120%;
	font-size: 18px;	
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	padding-left: 7em;
	margin-bottom: -25px;
}
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}



footer {
	background-color: rgba(220,220,220,0.9);
	text-align: right;
}
